<h2>Shipments List</h2>

<div *ngFor="let shipment of shipments">

  <span>
    <h4>
      <a [title]="shipment.name + ' details'">
        {{ shipment.id }}
        {{ shipment.name }}
      </a>
    </h4>
    <p *ngIf="shipment.description">
      <span>
        Description: {{ shipment.description }}
      </span>
      <br>
      <span>
        Quantity: {{ shipment.quantity }}
        , Invoice $: {{ shipment.invoiceAmount }}
        , Insurance $ AndCo: {{ shipment.insuranceAmountAndCo }}
        , Shipping: {{ shipment.shipping }}
        , DepartDate: {{ shipment.departDate}}
        , ArrivalDate: {{ shipment.arrivalDate }}
      , BL: {{ shipment.bl }}
      </span>

    </p>
  </span>

  <button (click)="share()">
    Share
  </button>
  &nbsp;
  <button (click)="edit()">
    Edit
  </button>
  &nbsp;
  <button (click)="addDocument()">
    Add document
  </button>
  &nbsp;
  <button (click)="sendMailAlert()">
    Fund Forecast
  </button>

</div>
